
.features-list {
  margin: 0px 15px 15px 15px;
  background-color: rgba(250,250,250,0.6);
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  font-size: 18px;
  list-style-type: circle;
  width: 40vw;
}

.audience-description {
  margin: 0px 15px 15px 15px;
  background-color: rgba(250,250,250,0.6);
  padding: 25px;
  font-size: 18px;
}

.enter-button-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enter-button {
  background-color: yellow;
  font-size: 18px;
  padding: 10px;

}


.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

body {
  background-image: url("fifa_background.png");
  background-size: 100vw;
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  font-size: 50px;
  color: white;
  padding: 25px;
}

.title-18 {
  color: yellow;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  padding: 1rem;
}

h3 {
  font-size: 30px;
  padding: 1rem;
  color: yellow;
}

h4 {
  font-size: 20px;
  color: white;
  padding-bottom: 0.25rem;
}

header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  padding-bottom: 5px;
}

.title-background{
  background-color: rgba(39,10,63,1);
  height: 80px;
  width: auto;
  border-radius: 0px 0px 30px 0px ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.fifa-logo {
  margin: 1rem;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-instructions {
  background-color: rgba(39,10,63,1);
  padding: 10px;
  color: white;
  width: 200px;
  margin-left: 15px;
  border-radius: 0px 15px 0px 0px;
}

.match-list-container {
  width: 250px;
  border-style: solid;
  background-color: rgba(250,250,250,0.7);
  display: flex;
  flex-direction: column;
}

.top-10-label {
  color: gray;
}

.pic-summary {
  display: flex;
  flex-grow: row;

}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(39,10,63,0.7);;
}

.slider-value {
  color: yellow;
  font-weight: bolder;
}

.save {
  width: 100px;
  background-color: yellow;
  margin-bottom: 15px
}



.player-card {
  background-color: rgba(250,250,250,0.7);
  display: flex;
  flex-direction: column;
  width: 300px;
}

.card-title {
font-size: 14;
margin-top: 15px;
margin-left: 15px;
}

.remaining-skills-list{
  padding: 15px;
}

.match-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.saved-skills-list-container{
  background-color: rgba(250,250,250,0.7);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.saved-skills-list{
  padding: 15px;
}

.card-header {
  background-color: rgba(39,10,63,0.7);
}
.saved-skills-list{
  color: dark-gray;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
}

.skill-button-container {
  padding: 0.1rem;
  background-color: rgba(250,250,250,0.7);
  margin: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.skill-button-container button{
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 160px;
  border-radius: 5px 5px 5px 5px ;
}

.skillgroup {
  border-style: solid;
  border-width: 1px;
  border-color: light-gray;
  padding: 2px;
  width: 90vw;
}

button {
  padding: 10px;
  font-size: 16px;
}

.active { background-color: yellow; }

.slider-div {
  width: 52vw;
  margin: 12px;
}

.slider-labels{
  display: flex;
  flex-grow: row;
  justify-content: space-between;
  color: yellow;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 99.5%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

aside {
  background-color: rgba(250,250,250,0.7);
  margin: 0px 15px 15px 15px;
  padding: 15px;
}

.video-instructions {
  background-color: rgba(39,10,63,1);
  padding: 10px;
  color: white;
  width: 150px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 0px 15px 0px 0px;
}


.search-form {

}

.youtube-search{
  background-color: yellow;
  margin-top: 10px;
}

footer {
  background-color: rgba(39,10,63,1);
  color: white;
  padding: 2rem;
}
