body {
  background-image: url("stadium.jpg");
  background-size: 100vw;
  margin-left: 1rem;
}



h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding: 1rem;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  padding: 1rem;
}

h3 {
  font-size: 30px;
  padding: 1rem;
  color: green;
}

h4 {
  font-size: 20px;
  color: white;
}

header {
  background-color: black;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  background-color: rgba(0,0,0,0.6);
}


.match-list-container {
  width: 300px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  flex-direction: column;
}

.player-card {
  background-color: rgba(255,255,255,0.6);
  display: flex;
  flex-direction: row;
  width: 300px;
}

.match-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.match-button{
  margin: 1rem;
}

.slider-value-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider-value-container button{
  margin-left: 2rem;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-button-container {
  padding: 0.1rem;
  background-color: rgba(0,0,0,0.7);

}

.skill-button-container button{
  margin: 0.5rem;
  width: 10vw;

}

.skillgroup {
  border-style: solid;
  border-width: 1px;
  border-color: light-gray;
  padding: 2px;
  width: 90vw;
}

button {
  padding: 1
}

.active { background-color: gray; }

.slidecontainer {
    width: 90%; /* Width of the outside container */
    padding: 1rem;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

footer {
  background-color: black;
  color: white;
  padding: 2rem;
}
